*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
    border-radius: 25px;
    float: left;
    width: 38%;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav ul li{
    text-decoration: none;
    color: white;
    font-weight: 20px;
}
.content{
    width: 33.3%;
    float: right;
    background-color: #333;
    border-radius: 15px;
    border-color: black;
    border-style:solid;
    margin: 5px;
}
img{
    padding: 20px;
    width: 33%;
    height: 33%;
    border-radius: 15px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
/* this is for ipad mini*/
@media(min-width:768px) and (max-width: 1100px) {
    nav{
        width: 45%;
    }
    nav ul{
        gap: 20px;
    }
    .content{
        width: 38%;
    }
    img{
        padding: 10px;
        width: 40%;
    }
}
/* for all smartphone */
@media(max-width: 450px) and (min-width: 300px){
    nav{
        width: 68%;
        padding: 5px;
        margin: 5px;
    }
    nav ul{
        gap: 5px;
    }
    nav ul li{
        font-weight: 8px;
    }
    .content{
        width: 25%;
    }
    img{
        padding: 10px;
        width: 60%;
        padding: 5px;
        margin: 5px;
    }
}
